<div style="background-image: url(https://assets.entrepreneur.com/content/3x2/2000/1413404531-how-not-waste-time.jpg); height: 950px;">
  <div style="height: 100px; padding-top: 150px">
    <div style="background-color: rgba(255, 255, 255, 0.5); height: 150px; margin-left: 50px; margin-right: 50px; border-radius: 20px; display: flex">
      <img src="https://www.pngjoy.com/pngl/131/2663889_group-of-people-icon-avatar-group-icon-png.png" style="height: 120px; margin-left: 50px; margin-top: 10px;">
      <h1 style="margin-top: 40px; margin-left: 20px; font-size: 64px">Leave Management System</h1>
    </div>
  </div>
  <div style="height: 300px; margin-top: 70px;">
    <div style="height: 500px; background-color: #ff8c00; margin-left: 50px; margin-right: 1000px; border-radius: 20px; text-align: center">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1 style="padding-top: 30px; color: white">Username:</h1>
        <input style="height: 50px; width: 500px; border: none; border-radius: 20px; margin-top: -20px" formControlName="username" type="text">
        <h1 style="color: white">Password:</h1>
        <input style="height: 50px; width: 500px; border: none; border-radius: 20px; margin-top: -20px" formControlName="password" type="password">
        <br />
        <br />
        <button style="height: 60px; width: 300px; background-color: lightyellow; border: none; border-radius: 20px; font-size: 36px; font-weight: bold" type="submit">LOGIN</button>
        <br />
        <br />
        <br />
        <h3 style="color: white;">Not yet a member?</h3>    
        <button style="height: 60px; width: 300px; background-color: lightyellow; border: none; border-radius: 20px; font-size: 36px; font-weight: bold" type="button" (click)="goToSignUpPage()">SIGN IN</button>        
      </form>
    </div>
  </div>
</div>