<h1 style="margin-left: 20px;"> Leave Application/s of FS Bench Members</h1>
<h1 style="margin-left: 450px; color: red;" *ngIf="leaves.leaves.length == 0">No item/s to display.</h1>
<table style="border-collapse: collapse; margin: 20px">
  <tr *ngIf="leaves.leaves.length != 0">
    <th class="TableHeader">First Name</th>
    <th class="TableHeader">Last Name</th>
    <th class="TableHeader">Type of Leave</th>
    <th class="TableHeader">From Date</th>
    <th class="TableHeader">To Date</th>
    <th class="TableHeader">Number of Day/s</th>
    <th class="TableHeader">Reason</th>
    <th class="TableHeader">Approve</th>
    <th class="TableHeader">Reject</th>
  </tr>
  <tr *ngFor="let leave of leaves.leaves; let i = index">
    <td class="TableCell">{{leave.first_name}}</td>
    <td class="TableCell">{{leave.last_name}}</td>
    <td class="TableCell">{{leave.type_of_leave}}</td>
    <td class="TableCell">{{leave.from_date}}</td>
    <td class="TableCell">{{leave.to_date}}</td>
    <td class="TableCell">{{leave.number_of_days}}</td>
    <td class="TableCell">{{leave.reason}}</td>
    <td>
      <div (click)="approveLeave(leave, i)" style="cursor: pointer">
        <img src="https://www.freeiconspng.com/uploads/check-mark-icon-green-0.png" style="height: 50px; margin-left: 50px;">
      </div>
    </td>
    <td>
      <div (click)="rejectLeave(leave, i)" style="cursor: pointer">
        <img src="https://i.dlpng.com/static/png/6355317_preview.png" style="height: 50px; margin-left: 50px;">
      </div>
    </td>
  </tr>
</table>