<h1 style="margin-left: 20px;"> Leave Application/s of FS Bench Members</h1>
<table style="border-collapse: collapse; margin: 20px">
  <tr>
    <th style="font-size: 24px;">First Name</th>
    <th style="font-size: 24px;">Last Name</th>
    <th style="font-size: 24px;">Type of Leave</th>
    <th style="font-size: 24px;">From Date</th>
    <th style="font-size: 24px;">To Date</th>
    <th style="font-size: 24px;">Number of Day/s</th>
    <th style="font-size: 24px;">Reason</th>


  </tr>
  
</table>